.mainHeader {
  position: fixed;
  width: 100%; }

.mainNav {
  overflow: hidden; }

.mainLogo {
  height: 40px;
  margin-top: 8px;
  margin-left: 12px; }

.navIcon {
  position: absolute;
  right: 18px;
  top: 16px;
  cursor: pointer;
  z-index: 10; }

.navIcon div {
  width: 25px;
  height: 4px;
  border-radius: 3px;
  background-color: #666;
  margin-bottom: 6px; }

.navLink {
  text-transform: uppercase;
  font-family: Objectivity-Regular;
  color: #727171; }

.navList {
  position: fixed;
  top: -250px;
  transition: all 1.5s ease;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3); }

.navList li {
  margin-top: 16px; }

.moveNav {
  display: block;
  top: -20px; }

@media screen and (min-width: 800px) {
  .mainHeader {
    background-color: #fafafa;
    height: 94px;
    border-bottom: 1px solid #727171; }

  .mainLogo {
    height: 54px;
    margin-top: 14px;
    margin-left: 20px; }

  .navIcon {
    display: none; }

  .navList {
    display: flex !important;
    width: 42%;
    justify-content: space-between;
    float: right;
    margin-right: 4%;
    top: 0;
    background: none;
    right: 0%; } }
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: -1;
  font-family: Objectivity-Regular, sans-serif; }

.heroImg {
  height: 840px;
  background-color: #fff;
  flex: 1;
  text-align: center;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.buyNow {
  margin-top: 30%;
  background-color: #fafafa;
  border: 4px #727171 solid;
  width: 14%;
  height: 6%;
  border-radius: 14px;
  color: #727171; }

.aboutProd {
  flex: 1;
  background-color: white;
  height: 841px;
  padding-top: 4em;
  padding-bottom: 4em; }
  .aboutProd h2 {
    padding-bottom: 20px; }
  .aboutProd h2, .aboutProd h3 {
    text-align: center; }

.aboutImg {
  flex: 1;
  height: 840px;
  background-image: url("../images/aboutMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center; }

.intro {
  font-size: 1em;
  margin-top: 60vw;
  margin-bottom: 25px;
  color: #fafafa; }

.imgDesc {
  width: 300px;
  margin: 0 auto;
  color: #fafafa;
  line-height: 2em;
  font-size: .95em; }

.prodFeat {
  flex: 1;
  background-color: #333;
  height: 840px;
  color: #fafafa; }

.design {
  flex: 1;
  background-color: white;
  height: 840px;
  background-image: url("../images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media screen and (min-width: 800px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap; }

  .heroImg {
    flex: 2;
    flex-basis: 100%;
    width: 100%;
    margin-top: 95px; }

  .aboutProd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    width: 50%;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
    line-height: 2.5em; }

  .aboutImg {
    flex-basis: 50%;
    width: 50%;
    height: 841px;
    background-image: url("../images/about.png"); }

  .intro {
    margin-top: 25vw; }

  .imgDesc {
    width: 300px;
    margin: 0 auto;
    color: #fafafa;
    line-height: 2em;
    font-size: .95em; }

  .prodFeat {
    flex-basis: 50%;
    width: 50%; }

  .design {
    flex-basis: 50%;
    width: 50%; } }
.mainFooter {
  background-color: #c1b9b9;
  width: 100%;
  height: 200px; }

.footerList {
  padding-top: 50px;
  padding-right: 25px;
  float: right; }
  .footerList li {
    text-align: left; }
  .footerList a {
    color: white;
    font-size: 16px;
    line-height: 20px; }

@media screen and (min-width: 800px) {
  .mainFooter {
    display: flex;
    flex-direction: column; }

  .footerList {
    align-self: center; }
    .footerList li {
      display: inline;
      list-style-type: none;
      margin-right: 30px;
      padding-bottom: 5px; }
      .footerList li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 100px; } }
.hidden {
  display: none; }

body {
  background-color: red; }

@font-face {
  font-family: Objectivity-Regular;
  src: url("../fonts/Objectivity-Regular.otf") format("opentype"); }

/*# sourceMappingURL=main.css.map */
