
.mainHeader {
    position: fixed;
    width: 100%;
}


.mainNav {
    overflow: hidden;
}

.mainLogo {
    height: 40px;
    margin-top: 8px;
    margin-left: 12px;
}

.navIcon {
    position: absolute;
    right: 18px;
    top: 16px;
    cursor: pointer;
    z-index: 10;
}

.navIcon div {
    width: 25px;
    height: 4px;
    border-radius: 3px;
    background-color: #666;
    margin-bottom: 6px;
}

.navLink {
    text-transform: uppercase;
    font-family: Objectivity-Regular;
    color: #727171;
}

.navList {
    position: fixed;
    top: -250px;
    // margin-top: -200px;
    transition: all 1.5s ease;

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}


.navList li {
    margin-top: 16px;
}

.moveNav {
    display: block;
    top: 20px;
}






@include desktop {
    .mainHeader {
        background-color: $offWhite;
        height: 94px;
        border-bottom: 1px solid #727171;
    } 

    .mainLogo {
        height: 54px;
        margin-top: 14px;
        margin-left: 20px;
    }

    .navIcon {
        display: none;
    }

    .navList {
        display: flex !important;
        width: 42%;
        justify-content: space-between;
        float: right;
        margin-right: 4%;
        margin-top: -30px;
    }
    




}